body {
    text-align: center;
}

.container-copy {
    position: absolute;
}

.textvolanthover {
    transform: translate(0, -5px) !important;
}

#textvolant {
    position: absolute;
    transform: translate(0, 5px);
    transition: 0.5s;
}